header{
    background-image: url('./../../../public/imgs/desktop-wallpaper-ecommerce-objectives-of-e-commerce-e-commerce.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}